<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<head>
    <meta></meta>
</head>

<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" id="form1" th:object="${reviewSubjectForm}" method="post">
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="제목을 입력하세요">
            <p th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}" style="color:red"></p>
        </div>
        <br>
        <div class="form-group">
            <label th:for="credit">내용</label>
            <textarea type="text" th:field="*{content}" class="form-control"
                   placeholder="내용을 입력하세요" style="height: 600px; padding-bottom: 560px">
            </textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary">저장</button>
        <a type="button" th:href="@{/reviewList/{id}(id=${subjectId})}" class="btn btn-outline-primary">목록</a>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script th:inline="javascript">
    let id = [[${subjectId}]];
    let form = document.getElementById("form1");
    form.setAttribute("action", "/reviewList/new/" + id);
</script>
</html>