<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="fragments/header :: header">
    <title>blog</title>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
</head>

<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>학년</th>
                <th>학번</th>
                <th>전공</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memberForm : ${memberForms}">
                <td th:text="${memberForm.name}"></td>
                <td th:text="${memberForm.grade}"></td>
                <td th:text="${memberForm.studentNumber}"></td>
                <td th:text="${memberForm.major}"></td>
                <td>
                    <a href="#" th:href="'javascript:login('+${memberForm.memberId}+')'"
                       class="btn btn-success">login</a>
                </td>
                <td>
                    <a href="#" th:href="'javascript:remove('+${memberForm.memberId}+')'"
                       class="btn btn-danger">delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

<script>
    function remove(id) {
        const yn = confirm("정말로 삭제 하시겠습니까?")
        if(yn) {
            const form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/members/" + id + "/delete");
            document.body.appendChild(form);
            form.submit();
        }
        else{}
    }

    function login(id) {
        const form = document.createElement("form");
        form.setAttribute("method", "GET");
        form.setAttribute("action", "/subject/show/" + id);
        document.body.appendChild(form);
        form.submit();
    }

</script>
</html>