<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .wrapper {
        display: grid;
        place-items: center;
        min-height: 75vh;
        background: #f3f3f6;
    }

    .content {
        font-family: system-ui, serif;
        font-size: 2rem;
        padding: 3rem;
        border-radius: 1rem;
    }
</style>
<body style="background-color: #f8f9fa">
<div class="container-lg">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <div class="wrapper">
            <div class="content">
        <h1>Engineering Blog</h1>
                <br>
        <p>
            <a class="btn btn-lg btn-secondary" href="/new">회원가입</a>
            <a class="btn btn-lg btn-secondary" href="/formLogin">로그인</a>
        </p>
    </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>