<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="fragments/header :: header">
    <title>blog</title>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
</head>

<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div>
        <form th:object="${subjectWeek}" class="form-inline">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <input th:field="*{week}" class="btn btn-success" placeholder="과목명 혹은 요일을 입력하세요"/></input></th>
                <th>
                    <button type="submit" class="btn btn-primary mb-2">검색</button></th>
            </tr>
            </thead>
        </table>
        </form>
    </div>
            <div th:each="subject : ${subjectForms}">
                <span th:text="${subject.subjectName} "></span>
                <span th:text="${subject.credit}"></span><span>학점</span>
            </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>