<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="fragments/header :: header">
</head>

<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#" th:href="'javascript:createSubject('+${memberId}+')'">과목 추가</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">로그아웃</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" th:style="'background-image:url('+ @{/assets/img/search.png} +');'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Search subject</h1>
                    <span class="subheading">과목을 검색하거나 추가하세요!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-sm">
<!--    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>-->
    <div class="jumbotron"></div>
    <div class="form-group">
    <b>과목명 혹은 요일 검색</b>
    <br>
    <form th:object="${searchSubject}" class="form-inline">
        <input type="text" th:field="*{subjectName}" class="formcontrol" placeholder="과목명을 입력하세요"/></input>
        <input type="checkbox" th:field="*{week}" class="formcontrol" name="week" value="월" onclick='doOpenCheck(this)'/>월
        <input type="checkbox" th:field="*{week}" class="formcontrol" name="week" value="화" onclick='doOpenCheck(this)'/>화
        <input type="checkbox" th:field="*{week}" class="formcontrol" name="week" value="수" onclick='doOpenCheck(this)'/>수
        <input type="checkbox" th:field="*{week}" class="formcontrol" name="week" value="목" onclick='doOpenCheck(this)'/>목
        <input type="checkbox" th:field="*{week}" class="formcontrol" name="week" value="금" onclick='doOpenCheck(this)'/>금
        <button type="submit" class="btn btn-primary mb-2">검색</button></th>

    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>과목명</th>
            <th>학점</th>
            <th>요일</th>
        </tr>
        </thead>
        <tbody>
            <tr  th:each="subject : ${subjectForms}">
                <td>
                    <a th:text="${subject.subjectName}" href="#" th:href="'javascript:review('+${subject.subjectId}+')'"
                       class="btn btn-toolbar"></a>
                </td>
                <td th:text="${subject.credit}"></td>
                <td th:text="${subject.week}"></td>
                <td style="text-align: right">
                    <a href="#" th:href="'javascript:remove('+${subject.subjectId}+', '+${memberId}+')'"
                       class="btn btn-sm">삭제</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
<script>
    if ($('input:radio[name=week1]').is(':checked')){
        $('input:radio[name=week1]').prop("checked", false);
    }
    else{
        $('input:radio[name=week1]').prop("checked", true);
    }

    function createSubject(id){
        const form = document.createElement("form");
        form.setAttribute("method", "GET");
        form.setAttribute("action", "/subject/new/" + id);
        document.body.appendChild(form);
        form.submit();
    }

    function review(id){
        const form = document.createElement("form");
        form.setAttribute("method", "GET");
        form.setAttribute("action", "/reviewList/"+id);
        document.body.appendChild(form);
        form.submit();
    }

    function remove(subjectId, memberId) {
        const yn = confirm("정말로 삭제 하시겠습니까?")
        if(yn) {
            const form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/subject/delete/" + subjectId + "/" + memberId);
            document.body.appendChild(form);
            form.submit();
        }
        else{}
    }

    function doOpenCheck(chk) {
        var obj = document.getElementsByName("week");
        for (var i = 0; i < obj.length; i++) {
            if (obj[i] != chk) {
                obj[i].checked = false;
            }
        }
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</html>