<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="fragments/header :: header">
    <title>blog</title>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
</head>

<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="jumbotron"></div>
    <div class="form-group">
    <b>과목명 혹은 요일 검색&emsp;&emsp;&emsp;&nbsp;(해제 : 더블클릭)</b>
    <br>
    <form th:object="${searchSubject}" class="form-inline">
        <input type="text" th:field="*{subjectName}" class="formcontrol" placeholder="과목명을 입력하세요"/></input>
        <input type="radio" th:field="*{week}" class="formcontrol" name="week1" value="월" ondblclick="this.checked=false"/>월
        <input type="radio" th:field="*{week}" class="formcontrol" name="week2" value="화" ondblclick="this.checked=false"/>화
        <input type="radio" th:field="*{week}" class="formcontrol" name="week3" value="수" ondblclick="this.checked=false"/>수
        <input type="radio" th:field="*{week}" class="formcontrol" name="week4" value="목" ondblclick="this.checked=false"/>목
        <input type="radio" th:field="*{week}" class="formcontrol" name="week5" value="금" ondblclick="this.checked=false"/>금
        <button type="submit" class="btn btn-primary mb-2">검색</button></th>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="#" th:href="'javascript:createSubject('+${memberId}+')'"
           class="btn btn-outline-danger">과목 추가</a>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>과목명</th>
            <th>학점</th>
            <th>요일</th>
        </tr>
        </thead>
        <tbody>
            <tr  th:each="subject : ${subjectForms}">
                <td>
                    <a th:text="${subject.subjectName}" href="#" th:href="'javascript:review('+${subject.subjectId}+')'"
                       class="btn btn-toolbar"></a>
                </td>
                <td th:text="${subject.credit}"></td>
                <td th:text="${subject.week}"></td>
                <td style="text-align: right">
                    <a href="#" th:href="'javascript:remove('+${subject.subjectId}+', '+${memberId}+')'"
                       class="btn btn-danger">삭제</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
<script>
    if ($('input:radio[name=week1]').is(':checked')){
        $('input:radio[name=week1]').prop("checked", false);
    }
    else{
        $('input:radio[name=week1]').prop("checked", true);
    }

    function createSubject(id){
        const form = document.createElement("form");
        form.setAttribute("method", "GET");
        form.setAttribute("action", "/subject/new/" + id);
        document.body.appendChild(form);
        form.submit();
    }

    function review(id){
        const form = document.createElement("form");
        form.setAttribute("method", "GET");
        form.setAttribute("action", "/reviewList/"+id);
        document.body.appendChild(form);
        form.submit();
    }

    function remove(subjectId, memberId) {
        const yn = confirm("정말로 삭제 하시겠습니까?")
        if(yn) {
            const form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/subject/delete/" + subjectId + "/" + memberId);
            document.body.appendChild(form);
            form.submit();
        }
        else{}
    }

</script>

</html>